<!-- input edit page -->
<div class="hk-pg-wrapper">
    <!-- Container -->
    <div>
        <!-- Breadcrumbs -->
        <nav class="hk-breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light bg-transparent">
                <li class="breadcrumb-item "><a href="javascript:void(0)" [routerLink]="['/custom-fields']">Dashboard</a></li>
                <li class="breadcrumb-item active">Edit Custom Field</li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Client Dashboard</li> -->
            </ol>
        </nav>
        <!-- /Breadcrumbs -->

        <div class="hk-pg-header">
            <h1 class="hk-pg-title">{{customField?.field_label}}</h1>
        </div>
    </div>
    <section class="hk-sec-wrapper shadow-xl rounded-30">
        <h5 class="hk-sec-title hk-sec-title--all">Preview of your input text filed.</h5>
        <div class="row mt-20 mb-20">
            <div class="col-md-8 d-flex mb-20">
                <div class="roles-list custom-fields-type set-commssion border-0">
                    <i class="fa fa-check-circle"></i>
                    <div class="custom-pagination mt-0">
                        <div class="row justify-content-between">
                            <div class="col-md-8">
                                <div class="d-flex custom-fields-type-item align-items-center">
                                    <div class="item-field">
                                        <div class="form-label-group m-0">
                                            <input type="text" class="form-control" id="formGroupExampleInput"
                                                placeholder="Enter text here" disabled>
                                        </div>
                                    </div>
                                    <div class="item-labels">
                                        <h4>Text Input Field</h4>
                                        <p>Input text field with limited characters.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="store.customFieldForm">
            <div class="row">
                <div class="col-12">
                    <accordion [isAnimated]="true" class="accord-section">
                        <accordion-group [isOpen]="true">
                            <button
                                class="btn btn-link focus-none btn-block d-flex justify-content-center align-items-center clearfix"
                                accordion-heading type="button">
                                <h6 class="accor-name w-100 text-left hk-sec-title">FIELD DETAILS</h6>
                            </button>
                            <div class="cg-role">
                                <div class="w-100 mt-20">
                                    <div class="row mt-40">
                                        <div class="col-md-4">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" id="field_label"
                                                    formControlName="field_label">
                                                <label for="field_label">Input Text Label</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" id="description"
                                                    formControlName="description">
                                                <label for="description">Description</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control" id="character_limit"
                                                    formControlName="character_limit"
                                                    placeholder="Number of Characters (Optional)">
                                                <label for="character_limit">Number of Characters (Optional)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-label-group select-dropdown">
                                                <div class="item-field w-100">
                                                    <div class="form-label-group m-0">
                                                        <ng-select2 formControlName="field_type" [data]="exampleData"
                                                            [options]="options" (valueChanged)="valueChanged($event)">
                                                        </ng-select2>
                                                        <!-- (ngModelChange)="modelChanged($event)" -->
                                                        <!-- <label for="">Input Text Label</label> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-label-group">
                                                <input [type]="store.customFieldForm.value.field_type === 'N' ? 'number' : 'text'" 
                                                class="form-control" id="default_value" formControlName="default_value">
                                                <label for="default_value">Default Value
                                                    (Optional)</label>
                                                <div class="w-100" *ngIf="store.customFieldForm.controls.default_value.status=='INVALID'">
                                                    <div *ngIf="store.customFieldForm.controls.default_value.touched" class="invalid-feedback"
                                                        [style.display]="store.customFieldForm.controls.default_value.status=='INVALID' ? 'block' : 'none'">
                                                        Please provide valid default value.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb-20 mt-20">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Mandatory"
                                                    formControlName="is_mandatory">
                                                <label class="custom-control-label font-semi-bold"
                                                    for="Mandatory">Mandatory Input Field</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-20 mt-20">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="Searchable"
                                                    formControlName="is_searchable">
                                                <label class="custom-control-label font-semi-bold"
                                                    for="Searchable">Searchable Input Field</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="disable-toggle">
                                                <label>Status</label>
                                                <div class="toggle-wrap d-flex align-items-end disabled">
                                                    <span class="disable">Disabled</span>
                                                    <label class="switch mb-0">
                                                        <input type="checkbox" formControlName="is_enabled">
                                                        <span class="slider round"></span>
                                                    </label>
                                                    <span class="enable">Enabled</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                    <accordion [isAnimated]="true" class="accord-section">
                        <accordion-group [isOpen]="true">
                            <button
                                class="btn btn-link focus-none btn-block d-flex justify-content-center align-items-center clearfix"
                                accordion-heading type="button">
                                <h6 class="accor-name w-100 text-left hk-sec-title">ASSIGN</h6>
                            </button>
                            <div class="cg-role">
                                <div class="w-100 mt-20">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="col d-flex align-items-end mt-2 p-0">
                                                <div class="form-group has-search filter-search w-100">
                                                    <span class="fa fa-search form-control-feedback"></span>
                                                    <input type="text" #searchInput class="form-control"
                                                        placeholder="Search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive mnh-200p">
                                            <table id="datable_1"
                                                class="table theme-table custom-input-table w-100 display pb-30 position-relative">
                                                <thead>
                                                    <tr>
                                                        <th>SCREEN NAME</th>
                                                        <th>ASSIGN</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let screen of store?.screens">
                                                        <td><b>{{screen.label}}</b></td>
                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    [id]="screen.id" [(ngModel)]="screen.assign"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (change)="addToAssignedScreens(screen.id)">
                                                                <label class="custom-control-label"
                                                                    [for]="screen.id"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0)"
                                                                (click)="openPreviewFields(preview, screen)">Preview &
                                                                Adjust Position</a>
                                                        </td>
                                                    </tr>
                                                    <!-- <tr>
                                                        <td><b>Client Management - Custom Fields</b></td>
                                                        <td>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                                                <label class="custom-control-label" for="customCheck5"></label>
                                                            </div>
                                                        </td> 
                                                        <td>
                                                            <a href="javascript:void(0)">Preview & Adjust Position</a>
                                                        </td> 
                                                    </tr>   -->
                                                </tbody>

                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>

            <hr class="mt-50" />
            <div class="text-right mt-30 mb-40">
                <button type="button" class="btn btn-success btn-lg previous border-0"
                    [routerLink]="['/custom-fields']">Cancel</button>
                <button type="button" class="btn btn-success btn-lg " (click)="EditCustomField()">Update & Save</button>
            </div>
        </form>

    </section>
</div>
<!-- input edit page -->


<ng-template #preview class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered model-lg unlock">
        <div class="modal-content">
            <div class="modal-header bb-none">
                <h4 class="modal-title pull-left">Preview of Client Management - Custom Fields</h4>
            </div>
            <div class="modal-body p-0 comment-content">

                <!-- permission -->
                <div class="cg-role">
                    <div class="w-100 mt-20">
                        <div class="row">
                            <div class="col-12">
                                <accordion [isAnimated]="true" class="accord-section">
                                    <accordion-group [isOpen]="true">
                                        <button
                                            class="btn btn-link focus-none btn-block d-flex justify-content-center align-items-center clearfix"
                                            accordion-heading type="button">
                                            <h6 class="accor-name w-100 text-left hk-sec-title">CUSTOM FIELDS</h6>
                                        </button>
                                        <div class="cg-role">
                                            <div class="w-100 mt-20">
                                                <div class="row mt-20" dragula="fields"
                                                    [(dragulaModel)]="AssignedScreenOrientation?.form_json.form">
                                                    <div class="col-md-6 cursor-pointer"
                                                        *ngFor="let field of AssignedScreenOrientation?.form_json.form">
                                                        <div class="dash-border px-3 mb-10">
                                                            <div class="form-label-group mb-10">
                                                                <input type="text" class="form-control"
                                                                    [placeholder]="field.value" disabled>
                                                                <label>{{field.display_name}}</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer pb-0 pr-0">
                    <div class="text-right mt-20">
                        <button type="button" class="btn btn-success btn-lg previous" data-dismiss="modal"
                            (click)="modalRef.hide()">Close</button>
                        <button type="button" class="btn btn-success btn-lg loader-btn " data-dismiss="modal"
                            (click)="savePosition()">
                            <span>
                                Save the Position
                                <span *ngIf="false" class="spinner-border float-right" role="status"
                                    aria-hidden="true"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>