<!-- add grade -->
<div class="hk-pg-wrapper user-wrap">
    <!-- Container -->
    <div>
        <!-- Breadcrumbs -->
        <nav class="hk-breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light bg-transparent">
                <!-- <li class="breadcrumb-item "><a href="javascript:void(0)">Dashboard</a></li> -->
                <li class="breadcrumb-item active">Users and Permissions</li>
                <li class="breadcrumb-item active" aria-current="page">New Team</li>
            </ol>
        </nav>
        <!-- /Breadcrumbs -->

        <div class="hk-pg-header">
            <h1 class="hk-pg-title">Add New Team</h1>
        </div>
    </div>
    <section class="hk-sec-wrapper shadow-xl rounded-30">
        <h5 class="hk-sec-title hk-sec-title--all">Please enter the details of input text field</h5>
        <form [formGroup]="gradeForm" novalidate>
            <div class="row">
                <div class="col-12">
                    <accordion [isAnimated]="true" class="accord-section">
                        <accordion-group [isOpen]="true">
                            <button class="btn btn-link focus-none btn-block d-flex justify-content-center align-items-center clearfix" accordion-heading type="button"> 
                                <h6 class="accor-name w-100 text-left hk-sec-title">Team</h6>
                            </button>
                            <div class="cg-role">
                                <div class="w-100 mt-20">
                                    <div class="row mt-20">
                                        <div class="col-4">
                                            <div class="form-label-group">
                                                <input type="text" (blur)="isGradeAvailable()" formControlName="name" class="form-control" id="formGroupExampleInput" placeholder="Enter Grade Name">
                                                <label for="">Team Name</label>
                                                <div class="w-100" *ngIf="gradeForm.controls.name.status=='INVALID'">
                                                    <div *ngIf="gradeForm.controls.name.errors.required && gradeForm.controls.name.touched" class="invalid-feedback" [style.display]="gradeForm.controls.name.status=='INVALID' ? 'block' : 'none'">
                                                        Please provide Grade Name.</div>
                                                </div>
                                                <div [style.color]="'#FF0000'" style="font-size: 100%;" class="invalid-feedback" style="display: block;">{{gradeAvailable}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-12">
                                            <div class="container" [dragula]="MANY_ITEMS" [(dragulaModel)]='many'>
                                                <div *ngFor="let text of many" [innerHtml]="text"></div>
                                            </div>
                                            <div class='container' [dragula]="MANY_ITEMS" [(dragulaModel)]='many2'>
                                                <div *ngFor='let text of many2' [innerHtml]='text'></div>
                                            </div>
                                        </div> 
                                    </div> -->

                                    <div class="row mt-40">
                                        <div class="col-12">
                                            <div class="toggle-wrap d-flex align-items-center">
                                                <span class="font-16 text-dark-80 font-weight-bold mb-4"> Users</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="set-commssion">
                                                <div class="w-100"></div>
                                                <div class="row d-flex align-items-center">
                                                </div>
                                                <div class="row mt-20">
                                                    <div class="teams-list">
                                                        <div class="custom-pagination mt-0">
                                                            <div class="row justify-content-between">
                                                                <div class="col-6">
                                                                    <h6 class="user-aval">Available Users </h6>
                                                                </div>
                                                                <div class="col-6 align-items-end justify-content-end">
                                                                    <div class="form-group has-search filter-search w-100">
                                                                        <span class="fa fa-search form-control-feedback"></span>
                                                                        <input type="text" [(ngModel)]="searchRolesText" [ngModelOptions]="{standalone: true}" class="form-control search-back" id="inlineFormInputGroupUsername2" placeholder="Search Users">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul>
                                                            <li class="userborder">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input">
                                                                    <label class="custom-control-label">User Available</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <accordion [isAnimated]="true" class="accord-section">
                                                <accordion-group [isOpen]="true">
                                                    <div class="cg-role">
                                                        <div class="row mt-20">
                                                            <div class="w-100"></div>
                                                            <div class="teams-list">
                                                                <div class="custom-pagination mt-0">
                                                                    <div class="row justify-content-between">
                                                                        <div class="col-6">
                                                                            <h6 class="user-aval">Selected Users </h6>
                                                                        </div>
                                                                        <div class="col-6 align-items-end justify-content-end">
                                                                            <div class="form-group has-search filter-search w-100">
                                                                                <span class="fa fa-search form-control-feedback"></span>
                                                                                <input type="text" [(ngModel)]="searchUsersText" [ngModelOptions]="{standalone: true}" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search User">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="custom-control custom-checkbox">
                                                                            <span class="font-16 text-dark-80 font-weight-bold">User 1</span>
                                                                            <img src="assets/images/x.svg" class="float-right">
                                                                            <input type="checkbox" class="custom-control-input float-right">
                                                                            <label class="custom-control-label float-right mr-15">Make Team Lead</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <!-- <div class="no-data" *ngIf="userList.length === 0 && !userLoader">
                                                                No Data Found to Selected Users
                                                            </div>
                                                            <div class="no-data" *ngIf="userList.length === 0 && userLoader">
                                                                Loading Users...
                                                            </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </accordion-group>
                                            </accordion>
                                        </div>
                                    </div>
                                    <div class="row mt-20">
                                        <div class="col-12">
                                            <div class="toggle-wrap d-flex align-items-center">
                                                <span class="font-16 text-dark-80 font-weight-bold mb-3"> Clients & Products</span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-label-group">
                                                <span class="wrapper-select w-100">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Client ID">
                                                        <option value="" >Client ID</option>
                                                        <option value="" >#2556</option>
                                                        <option value="" >#2556</option>
                                                        <option value="" >#2556</option>
                                                        <option value="" >#2556</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-label-group">
                                                <span class="wrapper-select w-100">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Client Name">
                                                        <option value="" >Client Name</option>
                                                        <option value="" >Name</option>
                                                        <option value="" >Name</option>
                                                        <option value="" >Name</option>
                                                        <option value="" >Name</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-label-group">
                                                <span class="wrapper-select w-100">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Select Product">
                                                        <option value="" >Select Product</option>
                                                        <option value="" >Select Product</option>
                                                        <option value="" >Select Product</option>
                                                        <option value="" >Select Product</option>
                                                        <option value="" >Select Product</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-label-group">
                                                <button type="button" class="btn btn-success btn-lg w-100 btn-border">Add Client</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile mt-20">
                                        <div class="col-12">
                                            <h6 class="mb-3">Client(s) Assigned to this Team </h6>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-3">
                                                <div class="toggle-wrap d-flex align-items-center">
                                                    <span class="font-16 text-dark-80 font-weight-bold ml-10"> Clients ID</span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="toggle-wrap d-flex align-items-center">
                                                    <span class="font-16 text-dark-80 font-weight-bold ml-10"> Clients Name</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="toggle-wrap d-flex align-items-center">
                                                    <span class="font-16 text-dark-80 font-weight-bold ml-10"> Product</span>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <img src="assets/images/edit.png" class="img-fluid cursor-pointer mr-10" alt="">
                                                    <img src="assets/images/trash-can.png" class="img-fluid cursor-pointer mr-10" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-3">
                                                <div class="toggle-wrap d-flex align-items-center">
                                                    <span class="font-16 text-dark-80 font-weight-bold ml-10"> Clients ID</span>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="toggle-wrap d-flex align-items-center">
                                                    <span class="font-16 text-dark-80 font-weight-bold ml-10"> Clients Name</span>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="toggle-wrap d-flex align-items-center">
                                                    <span class="font-16 text-dark-80 font-weight-bold ml-10"> Product</span>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <img src="assets/images/edit.png" class="img-fluid cursor-pointer mr-10" alt="">
                                                    <img src="assets/images/trash-can.png" class="img-fluid cursor-pointer mr-10" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>

            <hr class="mt-50" />
            <div class="text-right mt-30 mb-40">
                <button type="button" [routerLink]="['/user/user-team']" class="btn btn-success btn-lg previous">Cancel</button>
                <button type="button" class="btn btn-success btn-lg ">Create Team</button>
            </div>
        </form>

    </section>
</div>

<ng-template #errorModal class="modal fade bg-none" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered unlock">
        <div class="modal-content">
            <div class="modal-body p-0 text-center">
                <img src="assets/images/error.png" class="img-fluid mb-20">
                <ul class="mb-20" style="list-style-type: none;">
                    <li *ngFor="let error of responseText">{{error.name + " " +error.list}}</li>
                </ul>
                <div class="center-text">
                    <button type="button" (click)="modalRef.hide()" class="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>