
.content-wrapper{

    label{
        color: #464A53;
        display: block;
        width: 100%;
    }

}

.perpend-x{
    position: absolute;
    color: black;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
}