<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                    <ol class="breadcrumb pr-0 my-2 float-left mb-2 ">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">Account Settings</a></li>
                        <li class="breadcrumb-item active gray-04-color">Security</li>
                    </ol>
                    </div>
                </div>
            </div>
            <!-- main body --> 
            <form [formGroup]="passwordUpdate" novalidate>
            <div class="row">   
                <div class="col-md-12">     
                    <div class="card card-statistics h-100"> 
                        <div class="card-body">  
                            <h5 class="card-title mb-4 mb-md-5">Security</h5>
                            <div class="px-md-5">
                                <div class="row">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <img src="../../../../../assets/images/update-pass.png" class="img-fluid" alt="update Password">
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="card-title mb-4">Update Password</h5>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">Enter new password*</label>
                                            <input (keyup)="matchPassword()" type="password" class="form-control" id="formGroupExampleInput" formControlName="new_password" placeholder="New Password" >
                                            <div class="w-100" *ngIf="f.controls.confirm_password.status=='INVALID'">
                                                <div *ngIf="f.controls.confirm_password.errors.required && f.controls.confirm_password.touched" class="invalid-feedback" [style.display]="f.controls.confirm_password.status=='INVALID' ? 'block' : 'none'">Please provide new password.</div>
                                                <div *ngIf="f.controls.confirm_password.errors.minlength && f.controls.confirm_password.touched" class="invalid-feedback" [style.display]="f.controls.confirm_password.status=='INVALID' ? 'block' : 'none'">New password must be at least 1 character.</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">Confirm password*</label>
                                            <input  (keyup)="matchPassword()" type="password" class="form-control" id="formGroupExampleInput" formControlName="confirm_password" placeholder="Confirm Password" >
                                            <div class="w-100" *ngIf="f.controls.new_password.status=='INVALID'">
                                                <div *ngIf="f.controls.new_password.errors.required && f.controls.new_password.touched" class="invalid-feedback" [style.display]="f.controls.new_password.status=='INVALID' ? 'block' : 'none'">Please provide confirm password.</div>
                                                <div *ngIf="f.controls.new_password.errors.minlength && f.controls.new_password.touched" class="invalid-feedback" [style.display]="f.controls.new_password.status=='INVALID' ? 'block' : 'none'">Confirm password must be at least 1 character.</div>
                                                <div *ngIf="matchPasswordCheck" class="invalid-feedback">Password does not meet with above Password.</div>
                                            </div>
                                        </div>
                                        <!-- <div class="mt-md-5 mt-4">
                                            <div class="form-inline">
                                                <div class="mr-md-3 mr-0 mb-md-0 mb-3">
                                                    <label class="w-auto mr-4 mb-1 jc-none">Two-step verification</label>
                                                    <span class="gray-color">Keep your account extra secure with a second login step.</span>
                                                </div>
                                                <div class="pull-md-right ml-auto">
                                                    <label class="switch w-auto">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="text-center mt-5">
                                            <button *ngIf="!loader" [style.pointer-events]="!passwordUpdate.valid ? 'none' : 'auto'" class="button w-130 mr-3" (click)="updatePassword(passwordUpdate.value)" type="button">Update</button>
                                            <button *ngIf="loader" class="button w-130 loader-btn mr-3" type="button">
                                                Update
                                                <span class="spinner-border float-right" role="status" aria-hidden="true"></span>
                                            </button>
                                            <button [routerLink]="['/user']" class="button button-border w-130" type="button">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
        </form>
        </div>
    </div>
</div>
