<div class="wrapper">
    <section class="height-100vh d-flex align-items-center page-section-ptb login">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="d-flex align-items-stretch auth auth-img-bg w-100">
                <div class="row mx-0 flex-grow w-100">
                    <div class="col-lg-8 login-half-bg forgot-bg d-flex flex-row p-0">
                        <div class="flex-grow align-self-end pl-5 pb-5 mb-md-5">
                        <h2 class="text-white font-segoe-black mb-4 pt-4">Welcome to NCRI</h2>
                        <p class="text-white font-segoe-semibold">Join our community that have more than 10000 subscribers and learn new things everyday</p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center auth-form justify-content-center">
                        <div *ngIf="error !== 'success'" class="auth-form-transparent text-left w-md-75">
                            <div class="alert alert-danger my-5" role="alert" *ngIf="error === 'error'">
                                Password cannot be reset please try again.
                            </div>
                            <div class="brand-logo mt-4">
                                <img [routerLink]="['/signin']" src="https://ncri-media.s3.amazonaws.com/logo.jpg" class="mx-auto d-block login-logo" alt="logo">
                            </div>
                            <div>
                                <h6 class="text-center mt-5 mb-4 font-segoebold auth-hdng themeauth-color f-36">Reset Password</h6>
                                <p class="auth-info text-center pb-2 mb-3">Enter new password and login.</p>
                                <form [formGroup]="reset" >
                                    <div class="pt-3">
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                <span class="input-group-text bg-transiparent border-right-0">
                                                    <i class="ti-lock"></i>
                                                </span>
                                                </div>
                                                <input (keyup)="matchRegex()" #password type="password" formControlName="new_password" class="form-control form-control-lg border-left-0" id="newPass" placeholder="New Password">                        
                                                <div class="input-group-append bg-transparent"> 
                                                    <button (click)="switchPassword()" type="button" class="btn bg-transparent"> 
                                                        <img src="assets/images/eye.png" [class]="icon === false ? 'd-none' : ''" class="img-fluid" alt="">
                                                        <img src="assets/images/eye-close.png" [class]="icon === false ? '' : 'd-none'" class="img-fluid" alt="">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="invalid-feedback" style="display: block;" *ngIf="reset.controls.new_password.hasError('pattern')">Invalid password.</div>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <div class="input-group " [class]="matchPasswordCheck === true ? 'is-invalid' : ''">
                                                <div class="input-group-prepend bg-transparent">
                                                <span class="input-group-text bg-transiparent border-right-0">
                                                    <i class="ti-lock"></i>
                                                </span>
                                                </div>
                                                <input #confirmPassword (keyup)="matchPassword()" type="password" formControlName="confirm_password" class="form-control form-control-lg border-left-0" id="confirmPass" placeholder="Confirm Password">                        
                                            </div>
                                            <div *ngIf="matchPasswordCheck" class="invalid-feedback" style="display: block;">Password does not match.</div>
                                        </div>
                                        <div class="mt-4 mb-md-5 mb-4">
                                            <button (click)="resetPassword(reset.value)" [disabled]="!reset.valid || matchPasswordCheck"
                                            [style.pointer-events]="loader ? 'none' : 'auto'"
                                            class="btn btn-block themeauth-bg text-white btn-lg font-weight-medium auth-form-btn loader-btn" type="button">
                                            <span>
                                                Reset Password
                                                <span *ngIf="loader" class="spinner-border float-right" role="status" aria-hidden="true"></span>
                                            </span>
                                        </button>
                                            
                                            <!-- <p *ngIf="error === 'error'" class="danger-color">Password cannot be reset please try again.</p> -->
                                            <!-- <p *ngIf="error === 'success'" class="theme-color">Password successfully changed. <a style="cursor: pointer;text-decoration: underline;" [routerLink]="['/signin']">click here</a> to login</p> -->
    
                                        </div>
                                        
                                        <div class="auth-infomessages mb-3 pull-left mt-3">
                                            <p class="gray-04-color pb-2">Password must contain the following :</p>
                                            <span class="d-block  mb-1" [class]="regexchecks.capital === true ? 'theme-color' : 'danger-color'"><i class="mr-2" [class]="regexchecks.capital === true ? 'ti-check' : 'ti-close'"></i>One Capital Letter</span>
                                            <span class="d-block mb-1" [class]="regexchecks.small === true ? 'theme-color' : 'danger-color'"><i class="mr-2" [class]="regexchecks.small === true ? 'ti-check' : 'ti-close'"></i>One Small Letter</span>
                                            <span class="d-block mb-1" [class]="regexchecks.special === true ? 'theme-color' : 'danger-color'"><i class="mr-2" [class]="regexchecks.special === true ? 'ti-check' : 'ti-close'"></i>One Special Character</span>
                                            <span class="d-block mb-1" [class]="regexchecks.no === true ? 'theme-color' : 'danger-color'"><i class="mr-2" [class]="regexchecks.no === true ? 'ti-check' : 'ti-close'"></i>One Number</span>
                                            <span class="d-block mb-1" [class]="regexchecks.length === true ? 'theme-color' : 'danger-color'"><i class="mr-2" [class]="regexchecks.length === true ? 'ti-check' : 'ti-close'"></i>min 8 character</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                           

                            <!-- <div style="margin-top: 2rem;text-align: center;" *ngIf="error === 'success'">
                                <h5 style="color: #28507B;">Password changed successfully</h5>
                                <button [routerLink]="['/signin']" class="btn btn-block themeauth-bg text-white btn-lg font-weight-medium auth-form-btn" type="button">Login</button>
                            </div> -->
                           
                        </div>
                         <!-- Password changed successfully code start-->
                         <div *ngIf="error === 'success'" class="auth-form-transparent text-left w-md-75">
                            <div class="brand-logo mt-4">
                                <img src="../../../../assets/images/pass-success.png" class="mx-auto d-block img-fluid" alt="logo">
                            </div>

                            <div>
                                <h6 class="text-center mt-5 mb-4 font-segoebold auth-hdng-sm themeauth-color">Password changed successfully</h6>
                                <div class="pt-3">
                                    <div class="my-4">
                                        <button [routerLink]="['/signin']" type="button" class="btn btn-block themeauth-bg text-white btn-lg font-segoesemibold auth-form-btn">Login </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Password changed successfully code end-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>