<div class="hk-pg-wrapper">
    <!-- Container -->
    <div>
        <!-- Breadcrumbs -->
        <nav class="hk-breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light bg-transparent">
                <li class="breadcrumb-item "><a href="javascript:void(0)">Users &amp; Permission</a></li>
                <li class="breadcrumb-item active">User Teams</li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Client Dashboard</li> -->
            </ol>
        </nav>
        <!-- /Breadcrumbs -->

        <div class="hk-pg-header">
            <h1 class="hk-pg-title">User Teams</h1>
            <div class="float-right mb-0">
                <button  type="button" [routerLink]="['/user-teams/add']" class="btn btn-success">Create Teams</button>
            </div>
        </div>
    </div>

    <div class="">
        <div class="hk-sec-wrapper">
            <!-- <h6 class="hk-sec-title mb-10">USER TEAMS</h6> -->
            <div class="table-wrap">
                <div class="custom-pagination mt-0">
                    <div class="row justify-content-between">
                        <div class="col-auto d-flex align-items-end justify-content-end flex-column">
                            <div class="d-flex align-items-end justify-content-start w-100">
                                <div class="form-label-group w-auto mb-0 mr-20 data-per-page">
                                    <span class="mr-10">Show</span>
                                    <select [(ngModel)]="selectedPageSize" (change)="changePageSize()" class="form-control selectDropdown w-auto p-0 h-auto" name="Business Type">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                    <span class="ml-10">of &nbsp; {{paginationConfig?.count}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-end justify-content-end">
                            <div class="form-group float-right mb-0" *ngIf="showbtn()">
                                <button type="button" class="btn btn-success mr-15">Delete Selected</button>
                            </div>
                            <div class="form-group has-search filter-search mr-15">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control" [(ngModel)]="pageConfig.search_text" #searchInput id="inlineFormInputGroupUsername2" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-relative">
                    <table id="datable_1" class="table theme-table user-dashboard w-100 display pb-30">
                        <thead>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input [disabled]="
                                    !privileges.privilegeHash['uam.views.ApproveMultipleUser']['c'] 
                                    && !privileges.privilegeHash['uam.views.CancelMultipleUser']['c']" [(ngModel)]="checkAll" (ngModelChange)="selectAll()" type="checkbox" class="custom-control-input" id="customCheck5">
                                        <label class="custom-control-label" for="customCheck5"></label> -->
                                        <input  [(ngModel)]="checkAll" (ngModelChange)="selectAll()" type="checkbox" class="custom-control-input" id="customCheck5">
                                        <label class="custom-control-label" for="customCheck5"></label>
                                    </div>
                                </th>
                                <th>Team Name</th>
                                <th>No Of Users</th>
                                <th>Created By</th>
                                <th>Date</th>
                                <th>Team Lead</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!userLoader">
                            <!-- [class]="user.imported_from_active_directory && user.required_columns_missing_values ? 'active' : ''" -->
                            <tr *ngFor="let team of teamList" class="editRow">
                                
                                  
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <!-- <input [disabled]="
                                    (!privileges.privilegeHash['uam.views.ApproveMultipleUser']['c'] 
                                     && !privileges.privilegeHash['uam.views.CancelMultipleUser']['c']) ?
                                     true : (privileges.privilegeHash['uam.views.ApproveMultipleUser']['c'] 
                                      || privileges.privilegeHash['uam.views.CancelMultipleUser']['c']) ? 
                                    (team.status !== 'P' || team.imported_from_active_directory === true)
                                     : ''
                                     " [(ngModel)]="team.check" type="checkbox" class="custom-control-input" id={{team.id}}>
                                        <label class="custom-control-label" for={{team.id}}></label>
                                    </div> -->
                                    <input  [(ngModel)]="team.check" type="checkbox" class="custom-control-input" id={{team.id}}>
                                        <label class="custom-control-label" for={{team.id}}></label>
                                    </div>
                                </td>
                                <td class="text-uppercase">{{team.name}}</td>
                                <td>{{team.team_users_count}}</td>
                                <td><span>{{team.added_by__first_name}}</span>
                                    <span> {{team.added_by__first_name}}</span></td>
                                <td>{{team.updated_at | date:('d MMM yy')}} </td>
                                <td><span *ngIf="team.team_users_lead[0]">{{team.team_users_lead[0].user__first_name}}</span>
                                    <span *ngIf="team.team_users_lead[0]"> {{team.team_users_lead[0].user__last_name}}</span></td>
                                <td>
                                   
                                    <div class="d-flex justify-content-center align-items-center ">
                                        <img src="assets/images/edit.png" class="img-fluid cursor-pointer mr-10 editMe" (click)="redirectToCreateUser(team.id, 'edit')" alt="">
                                        <img src="assets/images/trash-can.png" class="img-fluid cursor-pointer mr-10 editMe" (click)="openDeleteTeam(deleteTeam,team)" alt="">
                                    </div>
                                </td>
                          
                            </tr>
                            <tr *ngIf="teamList.length === 0" class="text-center">
                                <td colspan="8">
                                    <p class="p-5 font-16">No data found</p>
                                </td>
                            
                            </tr>
                        </tbody>
                    </table>
                    
                   
                <div class="custom-pagination">
                    <div class="row justify-content-between">
                        <div class="col-auto d-flex align-items-end justify-content-end">
                            <div class="d-flex align-items-end justify-content-end">
                                <div class="form-label-group w-auto mb-0 mr-20 data-per-page">
                                    <span class="mr-10">Show</span>
                                    <select [(ngModel)]="selectedPageSize" (change)="changePageSize()" class="form-control selectDropdown w-auto p-0 h-auto" name="Business Type">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                    </select>
                                    <span class="ml-10">of &nbsp; {{paginationConfig?.count}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-end justify-content-end">
                            <pagination [(totalItems)]="paginationConfig.count" (pageChanged)="pageChanged($event)" [(itemsPerPage)]="pageConfig.size" [maxSize]="5" [rotate]="true"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #deleteTeam class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered unlock">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h4 class="modal-title pull-left">Modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body text-center p-0">
                <img src="assets/images/delete.png" class="img-fluid mb-20">
                <h2 class="modal-title">Delete User Team?</h2>
                <p class="modal-title text-secondary font-21">Are you sure you want to delete this user team?</p>
                <p class="modal-title client-name">OZOQO</p>
                <div class="modal-footer pb-0">
                    <div class="text-right mt-20">
                        <button type="button" [disabled]="loader" class="btn btn-danger btn-lg loader-btn mr-15" (click)="deleteTeamsMethod()">
                    <span>
                        Yes,delete user team
                        <span *ngIf="loader" class="spinner-border float-right" role="status" aria-hidden="true"></span>
                    </span>
                </button>
                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" (click)="modalRef.hide()">Cancel</button>

                    </div>
                </div>
                <div class="invalid-feedback" style="display: block;">{{responseText}}</div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #userDeactivate class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered unlock">
        <div class="modal-content">
            <div class="modal-body text-center p-0">
                <img src="assets/images/lock.png" class="img-fluid mb-20">
                <h2 class="modal-title">Deactivate User?</h2>
                <p class="modal-title text-secondary font-21">Are you sure you want to to deactivate to this user?</p>
                <p class="modal-title client-name">{{userData.first_name}} {{userData.last_name}}</p>

                <div class="modal-footer pb-0">
                    <div class="text-right mt-20">
                        <button type="button" class="btn btn-success btn-lg mr-15" *ngIf="!deactivateLoader" (click)="deactivateUser(userData.id)">Yes,deactivate user</button>
                        <button type="button" class="btn btn-success btn-lg previous" data-dismiss="modal" (click)="modalRef.hide()">Cancel</button>
                    </div>
                </div>
                <div class="invalid-feedback" style="display: block;">{{responseText}}</div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #userActivate class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered unlock">
        <div class="modal-content">
            <div class="modal-body text-center p-0">
                <img src="assets/images/unlock.png" class="img-fluid mb-20">
                <h2 class="modal-title">Unlock User?</h2>
                <p class="modal-title text-secondary font-21">Are you sure you want to unlock this user?</p>
                <p class="modal-title client-name">{{userData.first_name}} {{userData.last_name}}</p>

                <div class="modal-footer pb-0">
                    <div class="text-right mt-20">
                        <button type="button" class="btn btn-success btn-lg mr-15" *ngIf="!activateLoader" (click)="activateUser(userData.id)">Yes,I'm Sure</button>
                        <button type="button" class="btn btn-success btn-lg mr-15" *ngIf="activateLoader">
                    <span> 
                        Activating 
                        <span class="spinner-border ml-2" role="status" aria-hidden="true"></span>
                    </span>
                </button>
                        <button type="button" class="btn btn-success btn-lg previous" data-dismiss="modal" (click)="modalRef.hide()">Cancel</button>
                    </div>
                </div>
                <div class="invalid-feedback" style="display: block;">{{responseText}}</div>
            </div>
        </div>
    </div>
</ng-template>

<!-- model for users download start-->
<!-- <div bsModal #usersDownload="bs-modal" class="modal fade modal-bg-white" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bb-none mt-3 mr-3 pb-0">
                <button type="button" class="close pull-right" aria-label="Close" (click)="usersDownload.hide()">
                <span aria-hidden="true"><i class="ti-close cursor-pointer"></i></span>
                </button>
            </div>
            <div class="modal-body p-5">
                <div class="input-group form-group">
                    <label for="inputState">File Format</label>
                    <span class="wrapper-select">
                        <select [(ngModel)]="downloadType" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Select file format"> 
                            <option value="csv">.csv</option>
                        </select>
                    </span>
                </div>
                <div class="pull-right">
                    <button type="button" (click)="downloadFile()" class="button w-130">Download</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<ng-template #usersDownload class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered unlock">
        <div class="modal-content">
            <div class="modal-body text-center p-0">
                <img src="assets/images/delete.png" class="img-fluid mb-20">
                <h2 class="modal-title">Download Users</h2>
                <div class="text-left">
                    <div class="form-label-group">
                        <select class="form-control selectDropdown ng-dirty" name="Business Type" [(ngModel)]="downloadType">
                    <option value="csv">.csv</option>
                </select>
                        <label class="selectHolder" for="">File Format</label>
                    </div>
                </div>

                <div class="modal-footer pb-0">
                    <div class="text-right mt-20">
                        <button type="button" [disabled]="loader" class="btn btn-success loader-btn loader-btn btn-lg mr-15" (click)="downloadFile()">
                   <span>
                    Download 
                    <span *ngIf="loader" class="spinner-border float-right" role="status" aria-hidden="true"></span>
                    </span>
                </button>
                        <button type="button" class="btn btn-success previous btn-lg" data-dismiss="modal" (click)="modalRef.hide()">Cancel</button>

                    </div>
                </div>
                <div class="invalid-feedback" style="display: block;">{{responseText}}</div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #errorModal class="modal fade bg-none" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered unlock">
        <div class="modal-content">
            <div class="modal-body p-0 text-center">
                <img src="assets/images/error.png" class="img-fluid mb-20">
                <ul class="mb-20" style="list-style-type: none;" style="color: black;">
                    <li *ngFor="let error of errors">{{error}}</li>
                    <!-- <li>{{errorMessage}}</li> -->
                </ul>
                <div class="center-text">
                    <button type="button" (click)="modalRef.hide()" class="btn btn-success">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>