// NOTE: This file contains button SCSS.

button {
  @include transition (all, 0.5s, ease);
  &:focus { 
	  outline: 0;
   }
} 

.button { 
	font-family: map-get($font-family,poppins-regular);
	background: var(--theme-color);
	padding: 12px 20px;
	font-size: $font-base; 
	letter-spacing: 1px;
	border: 0;
	color: var(--white);
	text-transform: capitalize;
	font-weight: $font-medium;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	border:2px solid var(--theme-color);
	cursor: pointer;
	@include transition (all, 0.5s, ease);
	&:hover {
		background: transparent;
		color: var(--theme-color); 
		border-color: var(--theme-color);
	}
	&:focus {
	 	background: transparent;
	 	color: var(--theme-color); 
	 	border-color: var(--theme-color);
	}
}

.button + .button {
	margin-left: 5px;
	margin-bottom:5px;
}

.button.black { 
  	background: $dark-gray; 
  	color: var(--white); 
  	border:2px solid $dark-gray;

  	&:hover {
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
  	 }
  	&:active {
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
  	 }
  	 &:focus {
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
  	 }
  }
 

.button.gray {
    background: $border-color; 
    color: $dark-gray;
    border:2px solid $border-color; 

    &:hover { 
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
     }
     &:focus { 
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
     }
     &:active { 
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
     }
}

.button.white {
     background: var(--white); 
     color: var(--theme-color);
      border-color: var(--white); 

    &:hover { 
		background: $dark-gray; 
		color: var(--white); 
		border-color: $dark-gray;
     }
     &:focus { 
		background: $dark-gray; 
		color: var(--white); 
		border-color: $dark-gray;
     }
     &:active { 
		background: $dark-gray; 
		color: var(--white); 
		border-color: $dark-gray;
     }
}

.button.button-border {
     background: transparent; 
     border: 2px solid var(--theme-color); 
     color: var(--theme-color);

    &:hover { 
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
     }
     &:focus { 
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
     }
     &:active { 
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
     }
}

.button.button-border.gray {
     background: transparent; 
     border: 2px solid $border-color; 
     color: $light-gray; 

    &:hover { 
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
     }
     &:focus { 
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
     }
     &:active { 
		background: var(--theme-color); 
		color: var(--white); 
		border-color: var(--theme-color);
     }
}

.button.button-border.black {
      background: transparent; 
      border: 2px solid $dark-gray; 
      color: $dark-gray;

    &:hover { 
		background: $dark-gray; 
		color: var(--white); 
		border-color: $dark-gray;
     }
     &:focus { 
		background: $dark-gray; 
		color: var(--white); 
		border-color: $dark-gray;
     }
     &:active { 
		background: $dark-gray; 
		color: var(--white); 
		border-color: $dark-gray;
     }
}

.button.button-border.white {
     background: transparent; 
     border: 2px solid var(--white); 
     color: var(--white);

    &:hover { 
		background: var(--white); 
		color: var(--theme-color); 
		border-color: var(--white);
     }
     &:focus { 
		background: var(--white); 
		color: var(--theme-color); 
		border-color: var(--white);
     }
     &:active { 
		background: var(--white); 
		color: var(--theme-color); 
		border-color: var(--white);
     }
}

.button.icon { 
	 i { margin-left: 10px; }
}

.button.arrow { 
	 background: transparent; 
	 border: none; 
	 color: var(--theme-color); 
	 padding: 0; 
	 font-weight: $font-bold;

	 i { 
	 	padding-left: 10px; 
	 	font-size: $font-base; 
	 }

	 &:hover { 
		 color: $dark-gray;
	  }
 }	

.button.arrow.white { 
	 color: var(--white); 
	 border: none; 
	 &:hover { 
		 color: $lightest-gray; 
		 background: transparent;
	  }
 }
 
.button.icon-color { 
	background: none; 
	border: none; 
	color: var(--theme-color); 
	padding: 0;

	&:hover { 
		color: $dark-gray; 
		background: transparent;
	 }

	 i { 
	 	border: 1px solid var(--theme-color); 
	 	border-radius: 50%; 
	 	height: 22px; 
	 	width: 22px; 
	 	line-height: $line-base;  
	 	margin-left: 10px; 
	 	transform: translateX(0px); 
	 	transition: all 0.5s cubic-bezier(0.76, 0.46, 0.22, 1) 0s;

	 	&:hover { 
		 background: $dark-gray; 
		 border-color: $border-color; 
		 color: var(--white); 
		 transform: translateX(3px);
	 	 }
	 }
 }

 
 .button.icon-color.white { 
	&:hover { 
	 color: var(--white); 
	 border:none; 
	 background: none;
	 i { 
		background: var(--white); 
		color: var(--theme-color); 
		border-color: var(--white);
	  }
 	 }
}

.bg-dark {
	 .button.icon-color { 
	 	color: var(--white);

	 	i { 
	 		border-color: var(--white);
	 		&:hover { 
	 		background: var(--white); color: var(--theme-color); 
	 	   }
	 	 }

	 	 &:hover {
	 	 	color: var(--theme-color);
	 	 }
	  }

}

.big-button { 
	padding: 28px 26px; 
	font-size: $font-lg;
	span { 
		display: block; 
		font-size: $font-base; 
		margin-top: 6px;
	}
 }

.button.x-small { 
	padding: 8px 14px; 
	font-size: $font-base; 
}
.button.small { 
	padding: 10px 18px; 
	font-size: $font-base; 
}
.button.medium { 
	padding: 12px 20px; 
	font-size: $font-base; 
}
.button.large { 
	padding: 14px 20px; 
	font-size: $font-base; 
}
.button + .button.btn-block  { 
	margin-left: 0; 
}
 

// radio button style
input[type='radio'] {
	-webkit-appearance:none;
	width:25px;
	height:25px;
	border:2px solid #747474;
	border-radius:50%;
	outline:none;
	box-shadow: none;
}
input[type='radio'] {

	&::before{
		content:'';
		display:block;
		width:60%;
		height:60%;
		margin: 20% auto;    
		border-radius:50%;   
	}
}
input[type='radio']:checked:before {
	background:var(--theme-color);
}
input[type='radio']:checked {
	border:2px solid var(--theme-color);
}
input[type='radio'] + label:before {
	border:2px solid var(--theme-color);
}
.custom-radio{
	.form-check{
		label{
			padding-left: 20px;
			margin-top: 5px;

			&:before{
				border:2px solid var(--theme-color);
			}
		}
	}
}


// checkbox button style
.form-check.checkbox {
	padding-left: 20px; 
	line-height: 25px;

	input[type="checkbox"] {
		opacity: 0; 
	}
	input[type="checkbox"]:checked + label{

		&::after{
			font-family: 'themify';
			content: "\e64c";
			background: var(--theme-color);
			color: var(--white);
			font-size: $font-base;
		}
	}

	label {
		position: relative;
		padding-left: 15px; 

		&::before{
			content: "";
			display: inline-block;
			position: absolute;
			width: 25px;
			height: 25px;
			left: 0;
			margin-left: -20px;
			border: 1px solid #DDDFE1;
			border-radius: 3px;
			background-color: #F6F6F6;
		}

		&::after{
			display: inline-block;
			position: absolute;
			width: 24px;
			height: 24px;
			left: 0;
			top: 0;
			margin-left: -20px;
			padding-top: 0;
			padding-left: 5px;
		}
	}
}

// switch button scss
.switch {
    position: relative;
    display: inline-block;
    width: 68px !important;
	height: 36px;
	
	input { 
		opacity: 0;
		width: 0;
		height: 0;
		&[ng-reflect-model="true"]{
			+ .slider { 
				&::before {
					position: absolute;
					content: "";
					height: 28px;
					width: 28px;
					left: 10px;
					bottom: 3px;
					background-color: white;
					-webkit-transition: .4s;
					transition: .4s;
				}
			}
		}
    }
  
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #F6F6F6;
		transition: 0.4s;
		border: 1px solid #DDDFE1;

		&::before {
			position: absolute;
			content: "";
			height: 28px;
			width: 28px;
			left: 5px;
			bottom: 3px;
			background-color: #AAAAAA;
			-webkit-transition: .4s;
			transition: .4s;
		}
	}
  
	input:checked + .slider {
		background-color: var(--theme-color);
		border: 1px solid var(--theme-color);
		&::before{
			background-color: #fff;
		}
	}
	
	input:focus + .slider {
		box-shadow: 0 0 1px var(--theme-color);
	}
	
	input:checked + .slider{
		&:before {
			-webkit-transform: translateX(31px);
			-ms-transform: translateX(31px);
			transform: translateX(31px);
		}
		&.c-all{
			&:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
		}
	}
	
	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}
	
	.slider.round:before {
		border-radius: 50%;
	}

}

// SCSS for loader

@keyframes spinner-border {
	to { transform: rotate(360deg); }
  }
  
  .spinner-border {
	display: inline-block;
	width: 1.8rem;
	height: 1.8rem;
	vertical-align: text-bottom;
	border: .25em solid currentColor;
	border-right-color: transparent;
	// stylelint-disable-next-line property-blacklist
	border-radius: 50%;
	animation: spinner-border .75s linear infinite;
  }
  
  .spinner-border-sm {
	width: 1rem;
	height: 1rem;
	border-width: .2em;
  }
  
  //
  // Growing circle
  //
  
  @keyframes spinner-grow {
	0% {
	  transform: scale(0);
	}
	50% {
	  opacity: 1;
	  transform: none;
	}
  }
  
  .spinner-grow {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	vertical-align: text-bottom;
	background-color: currentColor;
	// stylelint-disable-next-line property-blacklist
	border-radius: 50%;
	opacity: 0;
	animation: spinner-grow .75s linear infinite;
  }
  
  .spinner-grow-sm {
	width: 1rem;
	height: 1rem;
  }
  



  