.multi-select{
    width: 100%;
    button{
    width: 100%;
    text-align: left;
    background-color: white;
    box-sizing: border-box;
    height: 50px !important;
    -webkit-appearance: none;
    -moz-appearance: none; 
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    font-size: var(--f-16);
    &::after{
        content: "";
        right: 0;
        top: 0;
        border: navajowhite;
        border-left: 1px solid #DDDFE1;
        border-bottom: 1px solid #DDDFE1;
        position: absolute;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 50px;
        height: 49px;
        background: #f6f6f6;
        color: #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        border-radius: 0 3px 3px 0;
        }
    }
    .dropdown,.dropdown-menu{
        width: 100%;
        a{
            font-size: var(--f-16);
            margin-bottom: 1rem;
            span{
                display: flex;
                input{
                    width: 25px;
                    height: 25px;
                }
                span{
                    margin-left: 1rem;
                }
            }
        }
    }
}