.pb-main{
    border: 1px solid #C7C7C7;
    padding: 1rem;
    border-radius: 24px;
    margin: 0 0rem;
    .progressBar{
        height: 3px;
        border-radius: 5px;
        .progress-bar-success{
            color: var(--theme-color);
        }
    }
    &.done{
        background: #34C73B; 
        border: none;
        padding: .5rem;
        border-radius: 10px;
        h6{
            color: var(--white);
        }
    }
}