<div class="wrapper">
    <section class="height-100vh d-flex align-items-center page-section-ptb login">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="d-flex align-items-stretch auth auth-img-bg w-100">
                <div class="row mx-0 flex-grow w-100">
                    <div class="col-lg-8 login-half-bg forgot-bg d-flex flex-row p-0">
                        <div class="flex-grow align-self-end pl-5 pb-5 mb-md-5">
                        <h2 class="text-white font-segoe-black mb-4 pt-4">Welcome to NCRI</h2>
                        <p class="text-white font-segoe-semibold">Join our community that have more than 10000 subscribers and learn new things everyday</p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center auth-form justify-content-center">

                        <!-- default forgot password code start -->
                        <div *ngIf="showError !== 'success'" class="auth-form-transparent text-left w-md-75" style="display: block;">
                            <!-- <div class="alert my-5" [class]="showError === 'error' ? 'alert-danger' : showError === 'success' ? 'alert-success' : ''" role="alert" *ngIf="showError !== ''">
                                {{showError === 'error' ? 'Invalid email address' : 'Thank you! We have sent you an email with a link to reset your password'}}
                            </div> -->
                            <div class="alert alert-danger my-5" role="alert" *ngIf="showError === 'error'">
                                Invalid email address.
                            </div>
                            <div class="brand-logo mt-4">
                                <img [routerLink]="['/signin']" src="https://ncri-media.s3.amazonaws.com/logo.jpg" class="mx-auto d-block login-logo" alt="logo">
                            </div>

                            <div>
                                <h6 class="text-center mt-5 mb-3 font-segoebold auth-hdng themeauth-color">Forgot User Id</h6>
                                <p class="auth-info text-center pb-2 mb-5">Enter your email id.</p>
                                <form [formGroup]="forgot">
                                    <div class="pt-3">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                <span class="input-group-text bg-transparent border-right-0">
                                                    <i class="ti-email"></i>
                                                </span>
                                                </div>
                                                <input type="text" formControlName="email" class="form-control form-control-lg border-left-0" placeholder="Email Id">
                                            </div>
                                            <div *ngIf="forgot.controls.email.hasError('email') && forgot.controls.email.touched" class="invalid-feedback" style="display: block;">Provide valid email address.</div>
                                            <!-- <div *ngIf="showError && !forgot.controls.email.hasError('email') && !forgot.controls.email.hasError('required')" class="invalid-feedback" style="display: block;"></div> -->
                                        </div>
                                        <div class="my-4">
                                            <button type="button" [disabled]="!forgot.valid" (click)="forgotPassword(forgot.value)" 
                                            [style.pointer-events]="loader ? 'none' : 'auto'"
                                            class="btn btn-block themeauth-bg text-white btn-lg font-segoesemibold auth-form-btn loader-btn">
                                            <span>
                                                Submit
                                                <span *ngIf="loader" class="spinner-border float-right" role="status" aria-hidden="true"></span>
                                            </span>
                                            
                                        </button>
                                            
                                            <!-- <p *ngIf="showError === 'error'" class="danger-color">Invalid email address</p> -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                        <!-- default forgot password code end -->

                        <!-- User Id successfully sent to your email code start-->
                        <div *ngIf="showError === 'success'" class="auth-form-transparent text-left w-md-75">
                            <div class="brand-logo mt-4">
                                <img [routerLink]="['/signin']" src="../../../../assets/images/email-success.png" class="mx-auto d-block img-fluid" alt="logo">
                            </div>

                            <div>
                                <h6 class="text-center mt-5 mb-4 font-segoebold auth-hdng-sm themeauth-color">User Id successfully sent to your email</h6>
                                <p class="auth-info text-center pb-2 px-md-4 mb-3">Thank you! We’ve sent you an email<br> with User Id.</p>
                                <div class="pt-3">
                                    <div class="my-4">
                                        <button [routerLink]="['/signin']" type="button" class="btn btn-block themeauth-bg text-white btn-lg font-segoesemibold auth-form-btn">Done </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- User Id successfully sent to your email code end-->

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>