<div class="container-fluid container-wrapper" *ngIf="false">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                    <ol class="breadcrumb pr-0 my-2 float-left mb-2 ">
                        <li class="breadcrumb-item"><a href="#" class="gray-color">Commission and Compensation</a></li>
                        <li class="breadcrumb-item active gray-04-color">User List</li>
                    </ol>
                    </div>
                </div>
            </div>
            <!-- main body --> 
            <div class="row">   
                <div class="col-md-12 mb-30">     
                    <div class="card card-statistics h-100"> 
                        <div class="card-body">  
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="card-title mb-0">Users Dashboard</h5>
                                </div>
                                <div class="col-md-4 pl-md-0">
                                    <div class="form-inline pull-md-right w-100">
                                        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                                        <div class="input-group mb-3 mb-md-0 w-100">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text bg-transparent br-none"><i class="ti-search gray-color "></i></div>
                                            </div>
                                            <input type="text" class="form-control bl-none pl-1" id="inlineFormInputGroupUsername2" placeholder="Username">
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="nav nav-tabs mt-4" role="tablist">
                                        <li class="nav-item" (click)="setTab('allUsers')">
                                            <a class="nav-link" [ngClass]="{'active show': tab === 'allUsers'}" id="tab1" data-toggle="tab" href="javascript:void(0)"  role="tab" aria-controls="all" aria-selected="true">All</a>
                                        </li>
                                        <li class="nav-item" (click)="setTab('pendUsers')">
                                            <a class="nav-link" [ngClass]="{'active show': tab === 'pendUsers'}" id="tab2" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="pending" aria-selected="false">Pending Approval</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div class="row justify-content-end mx-0 mt-md-5 mt-4">
                                        <div class="col-md-4 col-sm-4 pr-0 pl-0">
                                            <div class="input-group form-group d-flex align-items-center">
                                                <span class="wrapper-select w-75">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="10">
                                                        <option>All</option>
                                                        <option>None</option>
                                                    </select>
                                                </span>
                                                <label class="gray-color ml-3 mt-2">Show</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 pr-0 pl-0">
                                            <div class="input-group form-group d-flex align-items-center">
                                                <span class="wrapper-select w-75">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="10">
                                                        <option>10</option>
                                                        <option>20</option>
                                                    </select>
                                                </span>
                                                <label class="gray-color ml-3 mt-2">Entries</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-content">
                                <div *ngIf="tab === 'allUsers'" class="tab-pane fade" [ngClass]="{'active show': tab === 'allUsers'}" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive mnh-200p">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th>Employee Name</th>
                                                            <th>User ID</th>
                                                            <th>Email ID</th>
                                                            <th>Branch Location</th>
                                                            <th>Role</th>
                                                            <th>Action</th>
                                                            <th class="text-center" >Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let user of userList">
                                                            <td>{{user.first_name + ' ' + user.last_name}}</td>
                                                            <td style="text-transform: uppercase;">{{user.user_id}}</td>
                                                            <td>{{user.email}}</td>
                                                            <td>{{user?.branch_location__address}}</td>
                                                            <td>{{user.user_role__name}}</td>
                                                            <td>
                                                                <a href="javascript:void(0)" class="pr-3" (click)="nevigateToCommission(user)"> <i class="fa fa-pencil text-info"></i></a>
                                                                <a href="javascript:void(0)" class="pr-3"> <i class="fa fa-trash-o"></i></a>
                                                                <a href="javascript:void(0)"> <i class="fa fa-eye"></i></a>
                                                            </td>
                                                            <td class="text-center"><span [class]='user.cc_status ? 
                                                                (user.cc_status === "P" ? "text-warning" : user.cc_status === "A" ? "text-success" : user.cc_status === "C" ? "text-danger" : "")
                                                                : ""'>
                                                                {{
                                                                    user.cc_status ? 
                                                                    (user.cc_status === "P" ? 'Pending' : user.cc_status === "A" ? 'Approved' : user.cc_status === "C" ? 'Cancelled' : "")
                                                                    : ""
                                                                }}
                                                            </span></td>
                                                        </tr>

                                                        <tr *ngIf="userList.length === 0" class="text-center">
                                                            <td colspan="5">No Record Available</td>
                                                        </tr>
                                                      
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex align-items-center mt-2">
                                        <div class="col-md-6 col-sm-12">
                                            <p class="tbldata-info">
                                                Showing {{paginationConfig.page > 1 ? ((userList.length * paginationConfig.page) - 10) : paginationConfig.page}} to {{userList.length * paginationConfig.page}} of {{paginationConfig.count}} Entries
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <nav class="pull-md-right mt-3 mt-md-0" aria-label="Page navigation example">
                                                <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [itemsPerPage]="paginationConfig.size" [totalItems]="paginationConfig.count" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                                    lastText="&raquo;">
                                                </pagination>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <div  *ngIf="tab === 'pendUsers'" class="tab-pane fade" [ngClass]="{'active show': tab === 'pendUsers'}" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                    <div class="row justify-content-end mx-0 mt-md-5 mt-4">
                                        <div class="col-md-2 col-sm-4 pr-0 pl-0">
                                            <div class="form-group">
                                                <button type="button" *ngIf="showApproveAll" (click)="approveCommission()" class="btn btn-success loader-btn">
                                                    <span>
                                                        Approve All
                                                        <span *ngIf="loader" class="spinner-border float-right" role="status" aria-hidden="true"></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 pr-0 pl-0">
                                            <div class="input-group form-group d-flex align-items-center">
                                                <span class="wrapper-select w-75">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="10">
                                                        <option>All</option>
                                                        <option>None</option>
                                                    </select>
                                                </span>
                                                <label class="gray-color ml-3 mt-2">Show</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 pr-0 pl-0">
                                            <div class="input-group form-group d-flex align-items-center">
                                                <span class="wrapper-select w-75">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="10">
                                                        <option>10</option>
                                                        <option>20</option>
                                                    </select>
                                                </span>
                                                <label class="gray-color ml-3 mt-2">Entries</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <div class="col-md-12">
                                            <div class="table-responsive mnh-200p">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th class=" d-flex align-items-center">
                                                                <div class="form-check checkbox">
                                                                    <input [(ngModel)]="selectAll" (change)="selectAllUsers()" type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                    <label class="form-check-label" for="exampleCheck1"></label>
                                                                </div>
                                                            </th>
                                                            <th>Employee Name</th>
                                                            <th>User ID</th>
                                                            <th>Email ID</th>
                                                            <th>Branch Location</th>
                                                            <th>Role</th>
                                                            <th>Action</th>
                                                            <th class="text-center" ></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let user of userList" [style.pointer-events]="(user.loader || user.cancelLoader) ? 'none' : 'all'">    
                                                            <td class="d-flex align-items-center">
                                                                <div class="form-check checkbox">
                                                                    <input [(ngModel)]="user.check" (change)="checkSelectAll()" type="checkbox" class="form-check-input" [id]="user.id">
                                                                    <label class="form-check-label" [for]="user.id"></label>
                                                                </div>
                                                            </td>
                                                            <td>{{user.first_name + ' ' + user.last_name}}</td>
                                                            <td>{{user.user_id}}</td>
                                                            <td>{{user.email}}</td>
                                                            <td>{{user?.branch_location__address}}</td>
                                                            <td>{{user.user_role__name}}</td>
                                                            <td [style.pointer-events]="(lockScreen || loader) ? 'none' : 'all'">
                                                                <a href="javascript:void(0)" class="pr-3" (click)="nevigateToCommission(user)"> <i class="fa fa-pencil text-info"></i></a>
                                                                <a href="javascript:void(0)" class="pr-3" > <i class="fa fa-trash-o"></i></a>
                                                                <a href="javascript:void(0)"> <i class="fa fa-eye"></i></a>
                                                            </td>
                                                            <td class="text-right" [style.pointer-events]="(lockScreen || loader) ? 'none' : 'all'">
                                                                <button type="button" (click)="approveCommission(user)" class="button w-115 mr-md-3 x-small mb-2 mb-md-0">Approve
                                                                    
                                                                    <span *ngIf="user.loader" class="spinner-border float-right" role="status" aria-hidden="true"></span>
                                                                </button>
                                                                <button (click)="cancelCommission(user)" class="button button-border w-115 x-small">Cancel
                                                                    <span *ngIf="user.cancelLoader" class="spinner-border float-right" role="status" aria-hidden="true"></span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="userList.length === 0" class="text-center">
                                                            <td colspan="6">No Record Available</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex align-items-center mt-2">
                                        <div class="col-md-6 col-sm-12">
                                            <p class="tbldata-info">
                                                Showing {{paginationConfig.page > 1 ? ((userList.length * paginationConfig.page) - 10) : paginationConfig.page}} to {{userList.length * paginationConfig.page}} of {{paginationConfig.count}} Entries
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <nav class="pull-md-right mt-3 mt-md-0" aria-label="Page navigation example">
                                                <pagination [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [itemsPerPage]="paginationConfig.size" [totalItems]="paginationConfig.count" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                                    lastText="&raquo;">
                                                </pagination>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</div>
        
 
  <ng-template #errorModal class="modal fade bg-none" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered unlock">
        <div class="modal-content">
            <div class="modal-body p-0 text-center">
                <img src="assets/images/error.png" class="img-fluid mb-20">
                <ul class="mb-20" style="list-style-type: none;">
                    <li><p>{{responseText}}</p></li>
                </ul>
                <div class="center-text">
                    <button type="button" (click)="modalRef.hide()" class="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

  <div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                    <ol class="breadcrumb pr-0 my-2 float-left mb-2 ">
                        <li class="breadcrumb-item"><a href="#" class="gray-color">Home</a></li>
                        <li class="breadcrumb-item active gray-04-color">Commission</li>
                    </ol>
                    </div>
                </div>
            </div>
            <!-- main body --> 
            <div class="row">   
                <div class="col-md-12 mb-30">     
                    <div class="card card-statistics h-100"> 
                        <div class="card-body">  
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="card-title mb-4"><i class="ti ti-arrow-left mr-4"></i>Commission & Compensation</h5>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="row mx-0 w-100 mb-4">
                                    <div class="col-md-8 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 pb-2"><span class="gray-04-color">Employee Name:</span><span class="gray-color"> Betty Taylor</span></div>
                                            <div class="col-md-6 col-sm-12 pb-2"><span class="gray-04-color">Employee Type:</span><span class="gray-color"> Customer Relationship Agent</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 pb-2"><span class="gray-04-color">Employee Grade: </span><span class="gray-color"> Agent</span></div>
                                            <div class="col-md-6 col-sm-12 pb-2"><span class="gray-04-color">Branch Location:</span><span class="gray-color"> Mississauga</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group form-group">
                                        <label class="w-100" for="inputState">Base Salary</label>
                                        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Select Employee" placeholder="Select Currency">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item" href="javascript:void(0)">Action</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                                                <div role="separator" class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="w-100" for="formGroupExampleInput">Base Salary</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="5,000">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group form-group">
                                        <label class="w-100" for="formGroupExampleInput">Commission*</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Commission">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-percent"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-gray mx-3 my-3">
                                <div class="col-md-12 mb-4">
                                    <h6 class="mb-3 gray-04-color">Commission Type</h6>
                                    <div class="custom-radio custom-control-inline mr-5 pr-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="Commission" id="Salary" value="option11">
                                            <label class="form-check-label" for="Salary">Salary Based</label>
                                        </div>
                                    </div>
                                    <div class="custom-radio custom-control-inline mr-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="Commission" id="gridRadios22" value="option22">
                                            <label class="form-check-label" for="gridRadios22">Target Based</label>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-gray mx-3 my-3">
                                <div class="col-md-12 mb-4">
                                    <h6 class="mb-3 gray-04-color">Break Even</h6>
                                    <div class="custom-radio custom-control-inline mr-5 pr-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="radioFlat" value="option11">
                                            <label class="form-check-label" for="radioFlat">Flat</label>
                                        </div>
                                    </div>
                                    <div class="custom-radio custom-control-inline mr-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios22" value="option22">
                                            <label class="form-check-label" for="gridRadios22">Tier Based</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- flat base -->
                                <div class="flat w-100" *ngIf="false">
                                    <div class="row mx-0">
                                        <div class="col-md-4">
                                            <div class="input-group form-group">
                                                <label class="w-100" for="inputState">Break Even Times</label>
                                                <input type="text" class="form-control" placeholder="Enter Break Even Times">
                                             </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group form-group">
                                                <label class="w-100" for="formGroupExampleInput">Commission*</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Commission">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-percent"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mx-0 w-100 mb-4">
                                        <div class="col-md-8 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 pb-2"><span class="gray-04-color">Salary:</span><span class="gray-color"> $3,000.00</span></div>
                                                <div class="col-md-6 col-sm-12 pb-2"><span class="gray-04-color">Break Even Times:</span><span class="gray-color"> 3</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12 pb-2"><span class="gray-04-color">Break Even Amount:</span><span class="gray-color"> $9,000.00</span></div>
                                                <div class="col-md-6 col-sm-12 pb-2"><span class="gray-04-color">Commission:</span><span class="gray-color"> 12%</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <!-- flat base end-->
                                <!-- tire base -->
                                <div class="tier-base w-100">
                                    <div class="row w-100 row mx-0 d-flex align-items-center">
                                        <div class="col-md-4">
                                            <div class="input-group form-group">
                                                <label class="w-100" for="formGroupExampleInput">Commission*</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Commission">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-percent"></i></span>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="row w-100 row mx-0 d-flex align-items-center">
                                        <div class="col-md-4">
                                            <div class="input-group form-group">
                                                <label class="w-100" for="inputState">Break Even Target*</label>
                                                <input type="text" class="form-control" placeholder="Enter Break Even Target">  
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group form-group">
                                                <label class="w-100" for="inputState">MTD Based Target*</label>
                                                <input type="text" class="form-control" placeholder="Enter MTD Based Target">  
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <a class="button w-130 mr-3 mt-2" href="javascript:void(0)">Add</a>
                                        </div>
                                    </div>
                                    <div class="row mx-0">
                                        <div class="col-md-12">
                                            <div class="table-responsive mt-20 mnh-200p">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th>Break Even Target</th>
                                                            <th>MTD Based Target</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>$40000</td>
                                                            <td class="text-center"><a class="pr-3" href="javascript:void(0)"> <i class="fa fa-pencil text-info"></i></a> <a href="javascript:void(0)"> <i class="fa fa-trash-o"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>$23442</td>
                                                            <td class="text-center"><a class="pr-3" href="javascript:void(0)"> <i class="fa fa-pencil text-info"></i></a> <a href="javascript:void(0)"> <i class="fa fa-trash-o"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tire base end -->
                                <hr class="hr-gray mx-3 my-3">
                                <div class="col-md-12 mb-4">
                                    <h6 class="mb-3 gray-04-color">Break Even</h6>
                                    <div class="custom-radio custom-control-inline mr-5 pr-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios11" value="option11">
                                            <label class="form-check-label" for="gridRadio11">Tier-rate Flat Commission</label>
                                        </div>
                                    </div>
                                    <div class="custom-radio custom-control-inline mr-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios22" value="option22">
                                            <label class="form-check-label" for="gridRadios22">Tier-rate Variable Commission</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="tier-base w-100"> 
                                    <div class="row w-100 row mx-0 d-flex align-items-center">
                                        <div class="col-md-4">
                                            <div class="input-group form-group">
                                                <label class="w-100" for="formGroupExampleInput">Break Even(%)*</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Break Even">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-percent"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group form-group">
                                                <label class="w-100" for="formGroupExampleInput">Commission Amount*</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Commission Amount">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-percent"></i></span>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <a class="button w-130 mr-3 mt-2" href="javascript:void(0)">Add</a>
                                        </div>
                                    </div>
                                    <div class="row mx-0">
                                        <div class="col-md-12">
                                            <div class="table-responsive mt-20 mnh-200p">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th>Break Even(%)</th>
                                                            <th>Commission Amount</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>$40000</td>
                                                            <td class="text-center"><a class="pr-3" href="javascript:void(0)"> <i class="fa fa-pencil text-info"></i></a> <a href="javascript:void(0)"> <i class="fa fa-trash-o"></i></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>$23442</td>
                                                            <td class="text-center"><a class="pr-3" href="javascript:void(0)"> <i class="fa fa-pencil text-info"></i></a> <a href="javascript:void(0)"> <i class="fa fa-trash-o"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-5">
                                    <div class="pull-right">
                                        <a class="button w-150 mr-3" href="javascript:void(0)">Send for Approval</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
        </div>
    </div>
</div>