<!-- add grade -->
<div class="hk-pg-wrapper user-wrap">
    <!-- Container -->
    <div>
        <!-- Breadcrumbs -->
        <nav class="hk-breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light bg-transparent">
                <!-- <li class="breadcrumb-item "><a href="javascript:void(0)">Dashboard</a></li> -->
                <li class="breadcrumb-item active">Users and Permissions</li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        <!-- /Breadcrumbs -->

        <div class="hk-pg-header">
            <h1 class="hk-pg-title">Edit Team</h1>
        </div>
    </div>
    <section class="hk-sec-wrapper shadow-xl rounded-30">
        <h5 class="hk-sec-title hk-sec-title--all">Please fill the basic information about User Team </h5>
        <!-- <form [formGroup]="teamForm" novalidate> -->
            <form  novalidate>
            <div class="row">
                <div class="col-12">
                    <accordion [isAnimated]="true" class="accord-section">
                        <accordion-group [isOpen]="true">
                            <button class="btn btn-link focus-none btn-block d-flex justify-content-center align-items-center clearfix" accordion-heading type="button"> 
                                <h6 class="accor-name w-100 text-left hk-sec-title">Team</h6>
                            </button>
                            <div class="cg-role">
                                <div class="w-100 mt-20">
                                    <div class="row mt-20">
                                        <div class="col-4">
                                            <div class="form-label-group">
                                                <input type="text" (blur)="isGradeAvailable()" [(ngModel)]="clientObj.tName" name="name" class="form-control" id="formGroupExampleInput" placeholder="Enter Team Name">
                                                <label for="">Team Name</label>
                                                <div class="w-100" *ngIf="teamForm.controls.name.status=='INVALID'">
                                                    <div *ngIf="teamForm.controls.name.errors.required && teamForm.controls.name.touched" class="invalid-feedback" [style.display]="teamForm.controls.name.status=='INVALID' ? 'block' : 'none'">
                                                        Please provide Team Name.</div>
                                                </div>
                                                <div [style.color]="'#FF0000'" style="font-size: 100%;" class="invalid-feedback" style="display: block;">{{gradeAvailable}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-40">
                                        <div class="col-md-6 d-flex" >
                                            <div class="roles-list" >
                                                <div class="custom-pagination mt-0">
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 d-flex">
                                                            <h6 class="hk-sec-title hk-sec-title--all">Available Users </h6>
                                                        </div>
                                                        <div class="col-6 d-flex align-items-end justify-content-end">
                                                            <div class="form-group has-search filter-search w-100">
                                                                <span class="fa fa-search form-control-feedback"></span>
                                                                <input type="text" [(ngModel)]="searchRolesText" [ngModelOptions]="{standalone: true}" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search Roles">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                       
                                                <ul [dragula]="MANY_ITEMS" [(dragulaModel)]='userList' >
                                                      <li *ngFor="let usr of userList let i=index" >
                                                        <div class="custom-control custom-checkbox" >
                                                            
                                                               <input  [(ngModel)]="usr.check" name="usr.check" (ngModelChange)="checkBx(usr)" type="checkbox" class="custom-control-input" id={{usr.id}}>
                                                            
                                                            <label class="custom-control-label"for={{usr.id}}>{{usr.first_name?usr.first_name :usr.user__first_name}} {{usr.last_name?usr.last_name:usr.user__last_name}}</label>
                                                        </div>
                                                    </li>
                                                 
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-flex" >
                                            <div class="roles-list" >
                                                <div class="custom-pagination mt-0">
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 d-flex">
                                                            <h6 class="hk-sec-title hk-sec-title--all">Selected Users </h6>
                                                        </div>
                                                        <div class="col-6 d-flex align-items-end justify-content-end">
                                                            <div class="form-group has-search filter-search w-100">
                                                                <span class="fa fa-search form-control-feedback"></span>
                                                                <input type="text" [(ngModel)]="searchUsersText" [ngModelOptions]="{standalone: true}" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search User">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                                <ul [dragula]="MANY_ITEMS"  [(dragulaModel)]='userList2' >
                                                    <div *ngFor='let usr2 of userList2'>
                                                    <li *ngIf="userList2.length!=0" class="editRow">
                                                        <div >
                                                            <label  class="label">{{usr2.user__first_name?usr2.user__first_name:usr2.first_name}} {{usr2.user__last_name? usr2.user__last_name:usr2.last_name}}</label>
                                                                                  
                                                            <input class="custom-control custom-checkbox float-right editMe"  [(ngModel)]="usr2.check" name="usr2.check" (ngModelChange)="checkBx2(usr2)" type="checkbox"  id={{usr2.id}}>
                                                            <a href="javascript:void(0)" (click)="removeBx2(usr2)" > <i class="fa fa-times float-righ mt-2 editMe" style="color: black"></i></a> 
                                                            <label class="float-right editMe">Make Team Lead</label>
                                                        </div>                                                        
                                                    </li> 
                                                </div>
                                                <div *ngIf="userList2.length==0" class="editRow">
                                                    <li>                                            
                                                        <h6>Drag and Drop user here or select a  check box</h6>
                                                    </li>                                                 
                                                </div>
                                                </ul>
                                               </div>
                                        </div>
                                    </div>
                                    <div class="row mt-20">
                                        <div class="col-12">
                                            <div class="toggle-wrap d-flex align-items-center">
                                                <span class="font-16 text-dark-80 font-weight-bold ml-10"> Clients & Products</span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-label-group">
                                                <span class="wrapper-select w-100">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Client ID" (change)="selectValues(clientObj.client_id)" name="cliend_id" [(ngModel)]="clientObj.client_id">
                                                        <option value="" >Client ID</option>
                                                        <option *ngFor="let item of clinetList" [value]="item?.id">{{item?.client_number}}</option>
                                                        
                                                    </select> 
                                                    <!-- <select #userRole [class.hasData]="userRole.value !== '' || userRole.value !== null" class="form-control selectDropdown" [(ngModel)]="user_role_id" required>
                                                        <option *ngFor="let item of ClinetList" [value]="item?.id">{{item?.name}}</option>
                                                    </select> -->
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-label-group">
                                                <span class="wrapper-select w-100">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" (change)="selectValues(clientObj.client_name)" placeholder="Client Name"  name="client_name" [(ngModel)]="clientObj.client_name">
                                                        <option value="" >Client Name</option>
                                                        <option *ngFor="let item of clinetList" [value]="item?.id">{{item?.company_name}}</option>
                                                        
                                                    </select> 
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-label-group">
                                                <span class="wrapper-select w-100">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Select Product" name="client_product" [(ngModel)]="clientObj.client_product">
                                                        <option value="" >Select Product</option>
                                                        <option *ngFor="let item of clinetList" [value]="item?.product">{{item?.product}}</option>
                                                        
                                                    </select> 
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="form-label-group">
                                                <button type="button" (click)="addClients(clientObj)" class="btn btn-success btn-lg w-100 btn-border">Add Client</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile">
                                        <div class="col-12">
                                            <h6 class="">Client(s) Assigned to this Team </h6>
                                        </div>
                                        <div class="row mt-20" *ngFor="let tClients of selectedClientList;let i=index">
                                       <ng-container *ngIf="clientObjE.index1== i; then editTemplate; else showTemplate " ></ng-container>
                                       <ng-template #showTemplate let-indexA="i">
                                        <div class="col-3" >                                            
                                            <div class="toggle-wrap d-flex align-items-center">
                                                <span class="font-16 text-dark-80 font-weight-bold ml-10"> {{tClients.code}}</span>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="toggle-wrap d-flex align-items-center">
                                                <span class="font-16 text-dark-80 font-weight-bold ml-10"> {{tClients.name}}</span>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="toggle-wrap d-flex align-items-center">
                                                <span class="font-16 text-dark-80 font-weight-bold ml-10"> {{tClients.product}}</span>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <img src="assets/images/edit.png" (click)="showEdit(tClients,i)" class="img-fluid cursor-pointer mr-10" alt="">
                                                <img src="assets/images/trash-can.png" (click)="removeClient(tClients)" class="img-fluid cursor-pointer mr-10" alt="">
                                            </div>
                                        </div>
                                       </ng-template>
                                       <ng-template #editTemplate let-indexB="i">
                                            <!--  edit client add start -->
                                    <!-- <div class="tile">
                                        <div class="row mt-20"> -->
                                            <div class="col-3">
                                                    <div class="form-label-group">
                                                        <span class="wrapper-select w-100">
                                                            <select class="form-control" aria-label="Text input with segmented dropdown button"  placeholder="Client ID" name="cliend_id" [(ngModel)]="clientObjE.client_idE">
                                                                <option value="" >Client ID</option>
                                                                <option *ngFor="let item of clinetList" [ngValue]="item">{{item?.client_number}}</option>
                                                                
                                                            </select> 
                                                            <!-- <select #userRole [class.hasData]="userRole.value !== '' || userRole.value !== null" class="form-control selectDropdown" [(ngModel)]="user_role_id" required>
                                                                <option *ngFor="let item of ClinetList" [value]="item?.id">{{item?.name}}</option>
                                                            </select> -->
                                                        </span>
                                                    </div>
                                            </div>
                                            <div class="col-4">
                                                    <div class="form-label-group">
                                                        <span class="wrapper-select w-100">
                                                            <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Client Name"  name="client_name" [(ngModel)]="clientObjE.client_nameE">
                                                                <option value="" >Client Name</option>
                                                                <option *ngFor="let item of clinetList" [value]="item?.company_name">{{item?.company_name}}</option>
                                                                
                                                            </select> 
                                                        </span>
                                                    </div>
                                            </div>
                                            <div class="col-3">
                                                    <div class="form-label-group">
                                                        <span class="wrapper-select w-100">
                                                            <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Select Product" name="client_product" [(ngModel)]="clientObjE.client_productE">
                                                                <option value="" >Select Product</option>
                                                                <option *ngFor="let item of clinetList" [value]="item?.product">{{item?.product}}</option>
                                                                
                                                            </select> 
                                                        </span>
                                                    </div>
                                            </div>
                                            <div class="col-2">
                                                    <div class="form-label-group">
                                                        <button type="button" (click)="updateClient(clientObjE,i)" class="btn btn-success btn-lg w-100 btn-border">Update Client</button>
                                                    </div>
                                            </div>
                                        <!-- </div>
                                    </div> -->
                                    <!-- edit client added end -->
                                       </ng-template>
                                       
                                           
                                        </div>
                                    </div>
                                   
                                            <!-- </div> -->
                                    <!-- </div> -->
                                    </div>
                                </div>
                           
                        </accordion-group>
                    </accordion>
                </div>
            </div>

            <hr class="mt-50" />
            <div class="text-right mt-30 mb-40">
                <button type="button" [routerLink]="['/user/user-team']" class="btn btn-success btn-lg previous">Cancel</button>
                <button type="button" class="btn btn-success btn-lg ">Create Team</button>
            </div>
        </form>

    </section>
</div>

<ng-template #errorModal class="modal fade bg-none" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered unlock">
        <div class="modal-content">
            <div class="modal-body p-0 text-center">
                <img src="assets/images/error.png" class="img-fluid mb-20">
                <ul class="mb-20" style="list-style-type: none;">
                    <li *ngFor="let error of responseText">{{error.name + " " +error.list}}</li>
                </ul>
                <div class="center-text">
                    <button type="button" (click)="modalRef.hide()" class="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>