<div *ngIf="false" class="container-fluid footer-container footer-fixed">
    <div class="row">
        <div class="content-wrapper footer-wrapper p-0">
            <footer class="bg-white p-3">
                <div class="row mx-0">
                    <div class="col-md-12 text-center">
                        <p class="mb-0"> &copy; 2020 NCRI. All Rights Reserved to <span>NCRI</span>. </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

  <!-- Footer -->
  <div class="hk-footer-wrap container-fluid">
    <footer class="footer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>© 2020 NCRI. All Rights Reserved to NCRI.</p>
            </div>
        </div>
    </footer>
</div>
<!-- /Footer -->