<section class="hk-sec-wrapper shadow-xl rounded-30" *ngIf="store.commentsForm.value.comment_list.length === 0">
    <div class="text-center mt-60 no-comment">
        <img src="assets/images/add-comment.png" />
        <h4 class="text-muted lead mt-30">Sorry, we didn't find any comment</h4>
        <p>You have not added any comment yet. Why not add it now!</p>
        <button type="button" (click)="openModal(addComments)" class="btn btn-success btn-lg" data-toggle="modal"
            data-target="#addComment">Add Comment</button>
    </div>
    <hr class="mt-80" />
    <div class="text-right mt-30">
        <button type="button" class="btn btn-default btn-lg previous"
            [routerLink]="['/add-client/custom-fields']">Previous</button>
        <button type="button" class="btn btn-success btn-lg" [routerLink]="['/add-client/documents']">Next: Upload
            Documents</button>
    </div>
</section>

<section class="hk-sec-wrapper shadow-xl rounded-30 d-none">
    <div class="text-center mt-60 mb-40 no-comment">
        <img src="assets/images/add-new-client.png" />
        <h4 class="text-muted lead mt-30">Sorry, we didn't find any client</h4>
        <p>You don't have added any client yet. Why not add it now!</p>
        <button type="button" (click)="openModal(addComments)" class="btn btn-success btn-lg" data-toggle="modal"
            data-target="#addComment">Add New Client</button>
    </div>
</section>
<section class="hk-sec-wrapper shadow-xl rounded-30  d-none">
    <div class="text-center mt-60 mb-40 no-comment no-comment--congrats">
        <img src="assets/images/congrats.png" />
        <h1 class="lead mt-30">Congratulations.</h1>
        <p>You don't have added any client yet. Why not add it now!</p>
        <div>
            <span>NCRI002153</span>
            <h2>Roger Communications</h2>
        </div>
        <div class="text-center mt-50">
            <!-- <button type="button" class="btn btn-default btn-lg previous">Review Client Details</button> -->
            <button type="button" class="btn btn-success btn-lg" routerLink="/client-dashboard">Go to Client
                Dashboard</button>
        </div>
    </div>
</section>

<section class="hk-sec-wrapper shadow-xl rounded-30" *ngIf="store.commentsForm.value.comment_list.length !== 0">
    <div class="d-flex align-items-center justify-content-between mb-60">
        <h1>Comments</h1>
        <button type="button" (click)="openModal(addComments)" class="btn btn-success btn-lg" data-toggle="modal"
            data-target="#addComment">Add New Comment</button>
    </div>

    <div class="row">
        <div class="col-12">
            <accordion [isAnimated]="true" class="accord-section">
                <accordion-group [isOpen]="true">
                    <button
                        class="btn btn-link focus-none btn-block d-flex justify-content-center align-items-center clearfix"
                        accordion-heading type="button"> 
                        <h6 class="accor-name w-100 text-left hk-sec-title">COMMENTS</h6>
                    </button>
                    <div class="cg-role">   
                        <div class="row comment-filter justify-content-between">
                            <div class="col-auto d-flex align-items-end">
                                <div class="d-flex align-items-end">
                                    <span class="label">Show Comments of</span>
                                    <div class="form-label-group w-auto mb-0">
                                        <select class="form-control selectDropdown w-auto p-0 h-auto" name="Business Type">
                                            <option>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto d-flex align-items-end">
                                <div class="d-flex align-items-end justify-content-end">
                                    <span class="label">Date Range</span>
                                        <div class="form-label-group custom-calender date-range mb-0">
                                        <img src="assets/images/calendar.png" class="img-fluid">
                                        <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                                        [bsConfig]="{ rangeInputFormat : 'DD-MMM-YYYY' }">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row comment-filter justify-content-between mt-0">
                            <div class="col-12 col-md-7 d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <span class="label">Users</span>
                                    <div class="form-label-group w-auto mb-0">
                                        <tag-input [(ngModel)]='items'></tag-input>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5 d-flex align-items-end justify-content-end">
                                <div class="d-flex align-items-end justify-content-end">
                                    <div class="form-label-group w-auto mb-0 mr-20">
                                        <select class="form-control selectDropdown w-auto p-0 h-auto" name="Business Type">
                                            <option>Filter Option One</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                    <div class="form-label-group w-auto mb-0 mr-20">
                                        <select class="form-control selectDropdown w-auto p-0 h-auto" name="Business Type">
                                            <option>Filter Option Two</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                    <div class="form-label-group w-auto mb-0">
                                        <select class="form-control selectDropdown w-auto p-0 h-auto" name="Business Type">
                                            <option>Filter Option Three</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="table-responsive mnh-200p">
                        <table class="table comment-table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">User</th>
                                    <th scope="col">Comments</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- add class active in tr in case of selected -->
                                <tr *ngFor="let comment of store.commentsForm.value.comment_list">
                                    <td>
                                        <img src="assets/images/star.svg" class="img-fluid cursor-pointer ">
                                        <img src="assets/images/star-filled.svg" class="img-fluid cursor-pointer d-none">
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="user-img-name text-uppercase">
                                                {{userName.substring(0, 1)}}
                                            </div>
                                            <!-- <img src="assets/images/add-comment.png" class="img-fluid user-img mr-10"> -->
                                            {{userName}}
                                        </div>
                                    </td>
                                    <td>{{comment.comment_text}}</td>
                                    <td>02 Jan 20</td>
                                    <td>07:30 AM</td>
                                    <td>
                                        <div class="d-flex align-items-center cursor-pointer" *ngIf="comment.document_url">
                                            <a target="_blank" 
                                            [href]="comment.document_url">
                                                <img src="assets/images/attachments.png" 
                                                class="img-fluid mr-10"> 
                                            </a>
                                        </div>
                                    </td>
                                    <!-- {{comment.fileName}} -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </accordion-group> 
                </accordion>
        </div>
    </div> 
    <hr class="mt-80" />
    <div class="text-right mt-30">
        <button type="button" class="btn btn-default btn-lg previous"
            [routerLink]="['/add-client/custom-fields']">Previous</button>
        <button type="button" class="btn btn-success btn-lg" [routerLink]="['/add-client/documents']">Next: Upload
            Documents</button>
    </div>

</section>


<ng-template #addComments class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-dialog-centered unlock">
        <div class="modal-content">
            <div class="modal-header bb-none">
                <h4 class="modal-title pull-left">Add Comment</h4>
            </div>
            <div class="modal-body">
                <div class="mb-30">
                    <form [formGroup]="addCommentForm">
                        <div class="form-label-group mb-40">
                            <input formControlName="commentText" type="text" class="form-control"
                                placeholder="Short Name" required>
                            <label for="">Type your comment here...</label>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-auto">
                                <input type="file" class="d-none" #fileUpload (change)=uploadDocument(fileUpload) accept=".csv,.xlsx,.pdf">
                                <button type="button" class="btn btn-success btn-border loader-btn btn-lg" (click)="fileUpload.click()"
                                    [disabled]="fileLoader">
                                    <span>
                                        Attach Documents
                                        <span *ngIf="fileLoader" class="spinner-border float-right" role="status"
                                        aria-hidden="true"></span>
                                    </span> 
                                    </button>   
                            </div>
                            <div class="col-md-auto">
                                <span class="text-light-50 small font-12"><em>Maximum size should be 2MB.</em></span>
                            </div>
                            <div class="col-12" *ngIf="fileUploadError">
                                <div>
                                    <span class="small text-danger">{{fileErrorText}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-auto" *ngIf="addCommentForm.value.documentUrl">
                                <span class="text-light-50 small">File uploaded</span>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-right mt-20">
                    <button type="button" class="btn btn-default btn-lg previous" data-dismiss="modal"
                        (click)="closeModal()">Cancel</button>
                    <button type="button" class="btn btn-success btn-lg" [disabled]="!addCommentForm.valid"
                        (click)="addComment()">Save Comment</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>